<!DOCTYPE html>
<html>
<head><title>Raspberry Pi Garage</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="favicon.png">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<div class="control">
  <img class="control__logo" src="house.svg">
  <h1 class="control__title">Pi Garage Opener</h1>
  <div class="control__status">The garage is currently: <strong></strong></div>
  <button class="control__button control__button--open">
    <span class="control__text">Open Garage</span>
    <img class="control__spinner" src="spinner.svg">
  </button>
  <button class="control__button control__button--close">
    <span class="control__text">Close Garage</span>
    <img class="control__spinner" src="spinner.svg">
  </button>
</div>
<script>
  const open = document.querySelector('.control__button--open')
  const close = document.querySelector('.control__button--close')
  const status = document.querySelector('.control__status')
  const statusText = status.querySelector('strong')

  // Check our garage state on page load
  currentStatus().catch(console.error)

  // Tap status to refresh
  status.addEventListener('click', currentStatus)

  // Open garage button
  open.addEventListener('click', async function () {
    open.disabled = true
    open.classList.add('control__button--loading')

    await fetch('http://<%= server %>/open')
      .then(response => {
        if (response.status === 200) {
          open.disabled = false
          open.classList.remove('control__button--loading')
        }
      })
      .catch(console.error)
  })

  // Close garage button
  close.addEventListener('click', async function () {
    close.disabled = true
    close.classList.add('control__button--loading')

    await fetch('http://<%= server %>/close')
      .then(response => {
        if (response.status === 200) {
          close.disabled = false
          close.classList.remove('control__button--loading')
        }
      })
      .catch(console.error)
  })

  // Method for checking garage state (Open/Closed)
  async function currentStatus () {
    await fetch('http://<%= server %>/status')
      .then(response => response.json())
      .then(response => statusText.innerText = response.status)
      .catch(console.error)
  }
</script>
</body>
</html>
