html, body {
  font-family: sans-serif;
  background: aliceblue;
  margin: 0 auto;
  padding: 0;
  font-size: 16px;
  color: #303034;
}

.control {
  margin: 0 1rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.control__logo {
  margin-top: 15vh;
  height: 8rem;
  width: auto;
}

.control__title {
  text-align: center;
  font-size: 2.125rem;
  margin-bottom: 1.5rem;
}

.control__status {
  margin-bottom: auto;
  color: #4e4e54;
  font-size: 1.25rem;
  background-color: white;
  padding: 1rem;
  border-radius: 5px;
}

.control__button {
  width: 100%;
  color: white;
  margin-bottom: 1.5rem;
  font-size: 1.75rem;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 4rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #303034;
  text-shadow: 0 2px 4px rgba(0, 0, 0, .10);
}

.control__button:disabled {
  background-color: #aabbbb;
}

.control__button--open {
  background: #4ccccf;
}

.control__button--close {
  background: #df505a;
}

.control__button--loading .control__spinner {
  display: inline-block
}

.control__button--loading .control__text {
  display: none;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.control__spinner {
  display: none;
  height: 2.5rem;
  width: 2.5rem;
  padding: .25rem 0;
  animation: spinner 1s linear infinite;
}

@media screen and (max-width: 320px) {
  .control__logo {
    margin-top: 10vh;
    height: 7rem;
  }

  .control__title {
    font-size: 1.75rem;
  }

  .control__status {
    font-size: 1.125rem;
  }

  .control__button {
    font-size: 1.5rem;
  }
}
